---
import { defaultLang } from "../i18n/config";
---

<html>
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">

<script>
const lang = navigator.language.startsWith("es") ? "es" : "en";
window.location.replace(`/${lang}/`);
</script>

</head>

<body>

Loading...

</body>
</html>