---
import { useTranslations } from "../i18n/utils";
const { lang } = Astro.props;
const t = useTranslations(lang);
const services = t("services.card_services");
---
<section id="servicios" class="py-24 bg-gray-100">
  <div class="max-w-7xl mx-auto px-6">
    <h2 class="text-3xl font-bold text-center mb-14">{t("services.title")}</h2>

    <p class="text-gray-600 text-center mb-14 max-w-2xl mx-auto">
      {t("services.description")}
    </p>

    <div class="grid md:grid-cols-3 gap-10">
      {services.map((service :any, index:any) => (
        <div class="bg-white p-8 rounded-xl shadow">
          <h3 class="text-xl font-semibold mb-3">{service.title}</h3>

          <p class="text-gray-600">
            {service.description}
          </p>
        </div>
      ))}
    </div>
  </div>
</section>
