---
export const prerender = false;

import MainLayout from "../../layouts/MainLayout.astro";
import { useTranslations } from "../../i18n/utils";

const { lang } = Astro.params;

const currentLang = lang === "es" ? "es" : "en";

const t = useTranslations(currentLang);
---

<MainLayout title="404" lang={currentLang}>
  <section class="min-h-screen flex flex-col items-center justify-center bg-gray-100 text-center px-6">

    <h1 class="text-7xl font-bold text-gray-800 mb-6">
      404
    </h1>

    <p class="text-xl text-gray-600 mb-8">
      {t("notFoundPage.description")}
    </p>

    <a
      href={`/${currentLang}/`}
      class="bg-blue-600 text-white px-6 py-3 rounded-lg hover:bg-blue-700 transition"
    >
      {t("notFoundPage.button")}
    </a>

  </section>
</MainLayout>